<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ac12a4126f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header-container">
        <div class="header-top">
            <img src="/images/logo-mercado-liebre.svg" class="img-logo">
            <ul class="header-search-bar">
                <li><input type="search" name="search-bar" id="search-bar" placeholder="Buscar productos, marcas"></li>
                <li><i class="fa-solid fa-magnifying-glass icon-search"></i></li>
            </ul>
            <h2 class="text-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <div class="bars-menu">
        <a href="#" class="menu-bars-icon icon-bars"><i class="fa-solid fa-bars"></i></a>
        </div>

        <nav class="navbar">
            <ul class="lef-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/views/register">Creá tu cuenta<i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="/views/register">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner">
        </div>
        <section class="last-visit-container">
            <h2>Basado en tu última visita</h2>
            <div class="main-products">
                <article class="main-article">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-article">
                <div class="article-details">
                    <i class="fas fa-truck article-icon"></i>
                    <p class="article-price">$6.770</p>
                    <p class="article-disccount">40% off</p>
                    <h3 class="article-description">Cafetera Moulinex</h3>
                </div>
                </article>
                <article class="main-article">
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook" class="img-article">
                <div class="article-details">
                    <i class="fas fa-truck article-icon"></i>
                    <p class="article-price">$230.000</p>
                    <p class="article-disccount">20% off</p>
                    <h4 class="article-description">MacBook Pro 2019</h4>
                </div>
                </article>
                <article class="main-article">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="galaxy s10" class="img-article">
                <div class="article-details">
                    <i class="fas fa-truck article-icon"></i>
                    <p class="article-price">$70.500</p>
                    <p class="article-disccount">10% off</p>
                    <h4 class="article-description">Samsung Galaxy S10</h4>
                </div>
                </article>
            </div>
        </section>
        
        <section class="offers-container">
            <h2>Ofertas</h2>
            <div class="main-products">
                <article class="main-article">
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-article">
                    <div class="articule-details">
                        <i class="fas fa-truck article-icon"></i>
                        <p class="article-price">$6.770</p>
                        <p class="article-disccount">40% off</p>
                        <h4 class="article-description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="main-article">
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook" class="img-article">
                    <div class="main-article">
                        <i class="fas fa-truck article-icon"></i>
                        <p class="article-price">$230.000</p>
                        <p class="article-disccount">20% off</p>
                        <h4 class="article-description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="main-article">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="galaxy s10" class="img-article">
                    <div class="main-article">
                        <i class="fas fa-truck article-icon"></i>
                        <p class="article-price">$70.500</p>
                        <p class="article-disccount">10% off</p>
                    <h4 class="article-description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="main-article">
                    <img src="images/img-tv-samsung-smart.jpg" alt="samsung tv" class="img-article">
                    <div class="main-article">
                        <i class="fas fa-truck article-icon"></i>
                        <p class="article-price">$23.200</p>
                        <p class="article-disccount">5% off</p>
                        <h4 class="article-description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>  
        </section>
    </main>
    
    <footer>
        <div class="footer">
            <div class="footer-article">
                <i class="fa-solid fa-credit-card icon-footer"></i>
                <h2 class="footer-title">Pagá con tarjeta o en efectivo</h2>
                <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</span>
            </div>
            <div class="footer-article">
                <i class="fa-solid fa-gift icon-footer"></i>
                <h3 class="footer-title">Envío gratis desde $ 2.500</h3>
                <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</span>
            </div>
            <div class="footer-article">
                <i class="fa-solid fa-user-shield icon-footer"></i>
                <h2 class="footer-title">Seguridad, de principio a fin</h2>
                <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</span>
            </div>
        </div>
        <h4 class="footer-bottom">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>
</html>