<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre - Login</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles-login.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ac12a4126f.js" crossorigin="anonymous"></script>
    </head>
<body>
    <header class="header-container">
        <div class="header-top">
            <img src="/images/logo-mercado-liebre.svg" class="img-logo">
            <ul class="header-search-bar">
                <li><input type="search" name="search-bar" id="search-bar" placeholder="Buscar productos, marcas"></li>
                <li><i class="fa-solid fa-magnifying-glass icon-search"></i></li>
            </ul>
            <h2 class="text-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <div class="bars-menu">
        <a href="#" class="menu-bars-icon icon-bars"><i class="fa-solid fa-bars"></i></a>
        </div>

        <nav class="navbar">
            <ul class="lef-navbar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta<i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/login-user" method="post" class="login-form">
            <div class="control-form">
                <label for="user">Usuari@</label>
                <input type="text" name="user" id="user" required>
            </div>
            <div class="control-form">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" required>
            </div>
            <div class="buttons">
                <button type="submit">ENVIAR</button>
            </div>
        </form>

    </main>

    <footer>
        <h4 class="footer-bottom">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>
</html>