/*
AMARILLO #EAC926
AZUL #03264C
CELESTE #1259c3
GRIS OSCURO #666666
GRIS CLARO #ebebeb
VERDE #39b54a


==========================

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    font-size: 12px;
}
.main-header{
    background-color: #EAC926;
    padding: 20px;
}


/*HEADER-TOP*/
.img-logo{
    width: 200px;
}
.text-header{
    font-weight: 400;
    text-align: center;
}


/*HEADER-BOTTOM*/
.menu-bars-icon{
    background-color: #03264C;
    color:white;
    display:block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin:auto;
}
.main-navbar{
    display: none;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: rgb(59, 56, 56);
    display: inline-block;
    padding: 5px 0;
    font-size: 15px;
}


/*MAIN LAST VISIT*/
main{
    width: 90%;
    background-color:#666666 ;
}
.last-visit{
    display: flex;
    flex-wrap: wrap;
}
.last-visit h2{
    font-size: 24px;
}
.main-article{
    background-color: #666666;    
    margin: 10px;
}
.img-article{
    width: 100%;
}
.articule-details{
    border-top: solid 1px #ebebeb;
    padding: 15px 0px;

}
.articule-details i{
    display: block;
    font-size: 12px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
}
.article-price{
    font-size: 18px;
}
.article-disccount{
    font-size: 16px;
}
.article-description{
    display: none;
    font-size: 16px;
}
.img-product{
    width: 100%;
}

/*MAIN OFFERS*/


/*TABLET*/
@media (min-width:382px){
    .main-header-top{
        display:flex;
        justify-content: space-between;
    }
    .text-header{
        max-width: 300px;
        text-align: right;
    }
    .menu-bars-icon{
        display: none;
    }
    /*HEADER-BOTTOM*/
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: inline-flex;
        font-size: 10px;
    }
    .main-navbar li{
        margin:0 5px
    }
    .right-navbar i{
        margin-left: 3px;
    }
    /*MAIN LAST VISIT*/
    .main-article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }


/*DESKTOP*/
@media (min-width:769px){
    .img-logo{
        width: 250px;
    }
    .main-header-top{
        max-width: 1200px;
        margin: auto;
    }
    .text-header{
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        align-self: center;
        margin: 0;
    }
    /*HEADER-BOTTOM*/
    .main-navbar{
        max-width: 1200px;
        margin: auto;
        margin-top: 20px;
    }
    .main-navbar ul{
    font-size: 10px;
    }
    .main-navbar li{
        margin:0 10px
    }
    .main-navbar a{
        font-size: 19px;
    }
    .right-navbar i{
        margin-left: 6px;
    }
}


}