* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    background-color: white;
}
.login-form{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 25px;
    font-size: 15px;
    border: solid white 1px;
    border-radius: 10px;
    padding: 15px;
}
.control-form{
    margin: 15px 0px;
}
.control-form label{
    font-weight: 900;
}
.control-form input{
    margin: 10px 0px 0px 4px;
    border: solid 0.5px white;
    border-radius: 5px;
    height: 25px;
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: center
}
.buttons button{
    border: none;
    background-color: #03264C;
    color: white;
    font-weight: 900;
    padding: 15px;
    border-radius: 8px;
}
.buttons button:hover{
    background-color: #0022AA;
}


/*DESKTOP*/
@media(min-width:760px){
    .login-form{
        max-width: 800px;
        text-align: center;
        align-items: center;
        margin: 50px auto;
        display: block;
    }
}