/*
AMARILLO #EAC926
AZUL #03264C
CELESTE #1259c3
GRIS OSCURO #666666
GRIS CLARO #ebebeb
VERDE #39b54a
==========================
Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*/

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*HEADER*/
.header-container{
    background-color: #EAC926;
}
.header-top{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-logo{
    display: block;
    margin: 15px 0px;
    max-width: 150px;
}
.login-form{
    margin: 20px 0px;
}
.header-search-bar{
    align-self: center;
    padding-right: 5px;
    background-color: white;
    border-radius: 8px;
    border-color: white;
}
.header-search-bar li{
    display: inline-block;
}
.header-search-bar input{
    height: 35px;
    max-width: 150px;
    border-radius: 8px;
    border:white;
    font-size: 12px;
}
.header-search-bar button{
    background-color: white;
    border:0px;
}
.text-header{
    margin: 15px 10px 0px 10px;
    color:#666666;
    font-size: 14px;
}
.text-header i{
    color: black;
    margin-right: 5px;
}
.bars-menu{
    margin-top: 40px;
    text-align: center;
    height: 60px;
}
.icon-bars{
    background-color:#1259c3;
    border-radius: 10px;
    color:white;
    padding: 10px;
    font-size: 24px;
}


/*NAV BAR*/
.navbar{
    display: none;
}


/*MAIN*/
main{
    background-color: #ebebeb;
}
.banner img{
    width: 100%;
    height: 15vh;
}

/*LAST VISIT*/
.last-visit-container,
.offers-container{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 15px 10px;
}
.last-visit-container h2,
.offers-container h2{
    text-align: left;
    margin-bottom: 10px;
}
.img-article{
    width: 100%;
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 5px;
}
.main-article{
    background-color: white;
    margin-bottom: 10px;
}
.main-article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.article-details{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    padding: 15px;
    justify-content: space-between;
}
.article-icon{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: -25px;
    color : #39b54a;
}
.article-icon:hover{
    transition: 1000ms;
    transform: rotate(-90deg);
}
.article-price{
    width: 50%;
}
.article-description{
    display: none;
}
.main-article:hover .article-description{
    display:block;
}

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: column;
}
.footer-article{
    text-align: center;
    margin-top: 50px;
}
.icon-footer{
    color: #1259c3;
    font-size: 24px;
    margin-bottom: 10px;   
}
.footer-title{
    font-size: 18px;  
}
.footer-article span{
    font-size: 13px;
}
.footer-bottom{
    margin:50px 0px 25px 0px;
    font-size: 12px;
}


/*DESKTOP*/
@media(min-width:850px){
    .bars-menu{
        display: none;
    }

    /*NAV BAR*/
    .navbar{
        display: flex;
        justify-content: space-around;
        font-size : 20px;
        height: 40px;
    }
    .navbar li{
        list-style-type: none;
        display: inline;
        flex-wrap: wrap
    }
    .navbar a{
        text-decoration: none;
        color :rgb(100, 100, 100);
        margin: 0 5px;
        }
    .navbar i{
        margin-left: 5px;
    }
}


/*TABLET*/
@media(min-width:600px){
    
    .login-form{
        width: 33%;
    }
    .text-header{
        align-self: center;
        font-size: 18px;
        width: 33%;
    }
    .last-visit-container{
        display: flex;
        flex-wrap: wrap;
    }
    .main-products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-article{
        max-width: 500px;
        margin: 15px;
    }

    /*FOOTER*/
    .footer{
        display: flex;
        flex-direction: row;
        margin: 0px 20px;
    }
    .icon-footer:hover{
        color:green;
    }

}